/* CTA Section */
.cta-section {
  /* background-color: #f8f9fa; */
}

.cta-heading {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 2.5rem;
  font-weight: 600;
  color: #EE9322;
  line-height: 1.2;
}

.cta-text {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  color: #666;
  line-height: 1.6;
}

/* Buttons */
.cta-contact {
  background-color: #EE9322;
  border: 0;
  color: #fff;
  padding: 12px 30px;
  border-radius: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.cta-contact:hover {
  background-color: #212020;
  color: #fff;
}

.cta-download {
  border: 2px solid #212020;
  background-color: transparent;
  color: #212020;
  padding: 12px 30px;
  border-radius: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.cta-download:hover {
  background-color: #212020;
  color: #fff;
}


/* Text animation */
@keyframes easeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-up {
  opacity: 0;
  animation: easeInUp 0.8s ease-out forwards;
}

/* Delay helpers */
.delay-1 {
  animation-delay: 0.2s;
}
.delay-2 {
  animation-delay: 0.5s;
}
.delay-3 {
  animation-delay: 0.8s;
}