header {
  box-shadow: none !important;
  z-index: 1030;
}

/* Logo */
.logo {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

/* Nav links */
.nav-link {
  color: white;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s ease; /* smooth color change */
}

/* Active link */
.nav-link.active {
  color: white !important; /* force white */
  font-weight: 900;        /* bold when active */
}

/* Hover state */
.nav-link:hover {
  color: #EE9322;
  text-decoration: none;   /* no underline */
}




/* Contact button */
.contact-btn {
  display: inline-block;
  padding: 8px 16px;
  border: 2px solid white;
  border-radius: 0;
  background-color: transparent;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease; /* smooth transition */
}

.contact-btn:hover {
  background-color: #fff;
  color: #212020;
}

/* Bootstrap hamburger icon visibility on dark bg */
.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  filter: invert(1); /* makes the hamburger white */
}

.navbar {
  font-family: Poppins, sans-serif;
}
