/* Full section background */
.main-section {
  height: 100vh;
  background-size: cover;
  background-position: center top;
  /* background-repeat: no-repeat; */
  color: white;
  font-family: 'Poppins', sans-serif;
  background-image: url("/assets/bg2.png");
}

/* Logo */
.logo {
  font-weight: bold;
  /* font-size: 1.5rem; */
  color: white;
}

/* Navigation links */
.nav-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-link:hover {
  text-decoration: underline;
}

/* Contact button in header */
.contact-btn {
  background-color: #212020;
  border: none;
  color: white;
  padding: 6px 16px;
  border-radius: 0;
  font-size: 16px;
}

/* Hero title */
.hero-title {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 48px;
  font-weight: bold;
  color: #EE9322;
}

/* Hero subtitle */
.hero-subtitle {
  font-size: 16px;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
}

.hero-text {
  margin-top: 200px;
  margin-left: 240px; /* more space from left */
}


/* Buttons in hero */
.contact-main {
  background-color: #212020;
  border: none;
  padding: 10px 20px;
  border-radius: 0;
    font-size: 16px;
}

.download-btn {
  border: 2px solid white;
  padding: 10px 20px;
  color: white;
  border-radius: 0;
    font-size: 16px;
}

/* Tech Stack Section */
.techstack-section {
  /* background-color: #1a1714; */
  background-image: url("/assets/techbg.png");
  /* background-position: center; */
}
