/* Full section background */
.main-section {
  height: 100vh;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  overflow-x: hidden; /* prevent horizontal scroll */
  color: white;
  font-family: 'Poppins', sans-serif;
  background-image: url('/assets/bg2.png');
}

/* Hero text section */
.hero-section {
  padding-top: 120px; /* spacing from the top of the page */
  padding-bottom: 60px; /* optional: breathing room at bottom */
}

.hero-title {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 56px;
  font-weight: bold;
  color: #ee9322;
}

.hero-subtitle {
  font-size: 16px;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
}

.hero-text {
  margin-top: 240px;
  margin-left: 0px; /* more space from left */
  padding-left: 16px;
}

/* Buttons in hero */
.contact-main {
  background-color: #212020;
  border: none;
  padding: 10px 20px;
  border-radius: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.contact-main:hover {
  background-color: #fff;
  color: #212020;
}

.download-btn {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  padding: 12px 30px;
  border-radius: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.download-btn:hover {
  background-color: #fff;
  color: #212020;
}

/* Tech Stack Section */
.techstack-section {
  background-image: url('/assets/techbg.png');
}

.tech-icon {
  max-width: 48px;
}

.tech-icon-large {
  max-width: 60px;
}


/* Text animation */
@keyframes easeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-up {
  opacity: 0;
  animation: easeInUp 0.8s ease-out forwards;
}

/* Delay helpers */
.delay-1 {
  animation-delay: 0.2s;
}
.delay-2 {
  animation-delay: 0.5s;
}
.delay-3 {
  animation-delay: 0.8s;
}


