.projects-section {
  background-color: #0a0b00;
  min-height: calc(100vh - 60px); /* full viewport height minus footer height */
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertically center content */
}


/* Section styling */
.section-title {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  color: #EE9322;

}

.section-divider {
  width: 60px;
  height: 2px;
  background-color: #EE9322;
  color: #EE9322;
  margin: 10px;
}

.section-subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: white;
}

/* Card styling */
.card {
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  transition: transform 0.4s ease; 
}

.card:hover {
  transform: scale(1.03);       /* white border when hovered */
}

/* prevent link styles messing up cards */
.card-link {
  text-decoration: none; /* remove underline */
  color: inherit;        /* keep text color */
  display: block;        /* make whole card clickable */
}


.card-title{
    color: #EE9322;
}

.card-text {
  font-size: 16px;
  color: white;
}

.project-img {
  height: 200px;            /* consistent height */
  object-fit: cover;        /* keeps ratio without stretching */
  width: 100%;
  /* transition: transform 0.4s ease; */
}

/* Blur effect only for proj3 image */
.project-blur {
  filter: blur(4px);
}

.lock-icon {
  width: 96px;
  height: auto;
  opacity: 0.9;
  filter: brightness(0) saturate(100%) invert(94%) sepia(6%) saturate(340%) hue-rotate(23deg) brightness(104%) contrast(95%);
}


/* Tags styling */
.tags {
  margin-top: 10px;
}

.tags span {
  display: inline-block;
  background-color: #212020;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  margin: 2px;
}


